<!--- ADD PHOTOS FORM -->

<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    

      <div class="input-group">
      
        <%= f.text_field :url, class: "form-control", placeholder: "Image URL", "aria-describedby"=> "url-addon" %>
        <span class="input-group-btn" id="url-addon">
          <%= f.submit "Submit", class: "btn btn-success" %>
        </span>

      </div>

    <a id="index-gallery-btn" class="btn btn-default" href="/pictures">Gallery</a>


<% end %>
