<!--- ADD PHOTOS FORM -->

<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="list-group">

    <div class="list-group-item">
      <h4 class="list-group-item-heading">Upload an Image</h4>
    </div>
    
    <div class="list-group-item">
      
      <div class="input-group">
        <span class="input-group-addon" id="title-addon">Title</span>
        <%= f.text_field :title, class: "form-control", "aria-describedby"=> "title-addon" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="url-addon">URL</span>
        <%= f.text_field :url,  class: "form-control", "aria-describedby"=> "url-addon" %>
      </div>

      <%= f.submit class: "btn btn-success" %>
    
    </div>
        
  </div>

<% end %>
