    <%= render 'form', picture: @picture %>

    <% @pictures.reverse.each_with_index do |picture, index| %>
      <div id="pic-<%= picture.id %>" class="img-box">
        <a href="<%= picture_path(picture) %>">
          <%= image_tag picture.url %>
        </a>
        <div class="comments">
          <span class="img-title"><%= picture.title %></span>
          <% picture.reviews.each do |review| %>
          <div id="comment-<%= review.id %>" class="single-comment">
            <span class="img-title"><%= time_ago_in_words(review.created_at) %> ago: </span><%= review.comment %>
          </div>
          <% end %>
          <%= render 'reviews/form' %>
        </div>
      </div>
    <% end %>
    </div>

<p id="notice"><%= notice %></p>