<p id="notice"><%= notice %></p>

    <div id="pic-<%= @picture.id %>" class="img-box">
      <a href="<%= picture_path(@picture) %>">
        <%= image_tag @picture.url %>
      </a>
      <div class="comments">
        <span class="img-title"><%= @picture.title %></span>
        <% @picture.reviews.each do |review| %>
          <span>
            <%= review.comment %>
            
            <%= review.created_at %>
          </span>
        <% end %>
        <%= render 'reviews/form', review: @review %>
      </div>
    </div>




