
    <div class="row">
      <div class="col-md-3">
        <div id="pic-<%= @picture.id %>" class="img-box">
          <h4 class="img-title">Image</h4>
          <%= link_to '', @picture, method: :delete, class: "trash" %>
          <a href="<%= picture_path(@picture) %>">
            <%= image_tag @picture.url %>
          </a>
          <div class="analysis">

           <div class="label-title">
              <a data-toggle="collapse" data-target="#labels-<% @picture.id %>">Image Analysis <i id="icon" class="fa fa-caret-right"></i></a>
            </div>
            <div id="labels-<% @picture.id %>" class="img-labels collapse">

              <% @picture.labels.each_with_index do |label, i| %>
              <div class="label-single">
               <%= @picture.labels[i]["description"] %>
                <div class="label-score">
                  <div class="label-score-percent" style="width:<%= @picture.labels[i]["score"] %>%"></div>
                </div>
              </div>
              <% end %>

            </div>

          </div>
          <div class="comments">
            <% @picture.reviews.each_with_index do |review, i| %>
            <div id="comment-<%= review.id %>" class="single-comment">
              <span class="img-title">Note <%= i + 1 %>: </span><%= review.comment %>
            </div>
            <% end %>

            <%= render 'reviews/form', review: @review %>

          </div>
        </div>

        <div class="img-box">

          <h4 class="img-title">New Image</h4>

          <%= render 'form', picture: Picture.new %>
        </div>

      </div>
      <div class="col-md-9">
        <div class="data-box">

          <h4 class="data-title">Image Color Scheme</h4>
          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |rgb, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["rgb"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["rgb"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["rgb"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single">
            <div class="css-colors-code">
              <div class="swatch">
              </div>
            </div>

            <h4 class="data-title">Color Scheme Shades</h4>
            <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |shade1, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["shade1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["shade1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["shade1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |shade2, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["shade2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["shade2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["shade2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |shade3, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["shade3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["shade3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["shade3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <h4 class="data-title">Color Scheme Tints</h4>
          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |tint1, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["tint1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["tint1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["tint1"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |tint2, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["tint2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["tint2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["tint2"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single label-colors">
              <% @picture.colors.each_with_index do |tint3, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= @picture.colors[i]["tint3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= @picture.colors[i]["tint3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= @picture.colors[i]["tint3"] %>; width: <%= @picture.colors[i]["score"] %>%;" ></a><% end %><% end %>
          </div>
          </div>

        </div>
      </div>
    </div>




