
    <div id="pic-<%= @picture.id %>" class="img-box">
      <a href="<%= picture_path(@picture) %>">
        <%= image_tag @picture.url %>
      </a>
      <div class="comments">
        <span class="img-title"><%= @picture.title %></span>
       <div class="label-title">
          Labels <a data-toggle="collapse" data-target="#labels-<% @picture.id %>">TOGGLE</a>
        </div>
        <div id="labels-<% @picture.id %>" class="img-labels collapse">
         
          <% @picture.label_descriptions.each_with_index do |label, i| %>
          <div class="label-single">
           <%= label %>
            <div class="label-score">
              <div class="label-score-percent" style="width:<%= @picture.label_scores[i] * 100 %>%"></div>
            </div>
          </div>
          <% end %>


          <br>RGB colors:<%= @picture.color_rgb_strings %>
          <br>Color scores:<%= @picture.color_scores %>
          <% if @picture.joy == "LIKELY" or @picture.joy == "VERY_LIKELY" %>
          <div class="label-single">
            This is a joyous photo.
          </div>
          <% end %>

          <br>Sorrow:<%= @picture.sorrow %>
          <br>Anger:<%= @picture.anger %>
          <br>Surprise:<%= @picture.surprise %>
          <br>Text:<%= @picture.detected_text %>
        </div>

        <% @picture.reviews.each do |review| %>
        <div id="comment-<%= review.id %>" class="single-comment">
          <span class="img-title"><%= time_ago_in_words(review.created_at) %> ago: </span><%= review.comment %>
        </div>
        <% end %>

        <%= render 'reviews/form', review: @review %>

      </div>
    </div>




