
    <div class="row">
      <div class="col-md-3">
        <div id="pic-<%= @picture.id %>" class="img-box">
          <h4 class="img-title">Image</h4>
          <a href="<%= picture_path(@picture) %>">
            <%= image_tag @picture.url %>
          </a>
          <div class="analysis">

           <div class="label-title">
              <a data-toggle="collapse" data-target="#labels-<% @picture.id %>">Image Analysis <i id="icon" class="fa fa-caret-right"></i></a>
            </div>
            <div id="labels-<% @picture.id %>" class="img-labels collapse">

              <% @picture.label_descriptions.each_with_index do |label, i| %>
              <div class="label-single">
               <%= label %>
                <div class="label-score">
                  <div class="label-score-percent" style="width:<%= @picture.label_scores[i] %>%"></div>
                </div>
              </div>
              <% end %>

            </div>
          </div>
          <div class="comments">
            <% @picture.reviews.each_with_index do |review, i| %>
            <div id="comment-<%= review.id %>" class="single-comment">
              <span class="img-title">Note <%= i + 1 %>: </span><%= review.comment %>
            </div>
            <% end %>

            <%= render 'reviews/form', review: @review %>

          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="data-box">

          <h4 class="data-title">Image Color Scheme</h4>
          <div class="label-single label-colors">
              <% @picture.color_rgb_strings.each_with_index do |rgb, i| %><% if i == 0 %><a class="label-single-color first" style="background-color: <%= rgb %>; width: <%= @picture.color_scores_100[i] %>%;" ></a><% elsif i == 9 %><a class="label-single-color last" style="background-color: <%= rgb %>; width: <%= @picture.color_scores_100[i] %>%;" ></a><% else %><a class="label-single-color" style="background-color: <%= rgb %>; width: <%= @picture.color_scores_100[i] %>%;" ></a><% end %><% end %>
          </div>

          <div class="label-single">
            <div class="css-colors-code">
     
            </div>
          </div>

        </div>
      </div>
    </div>




