
    <div id="pic-<%= @picture.id %>" class="img-box">
      <a href="<%= picture_path(@picture) %>">
        <%= image_tag @picture.url %>
      </a>
      <div class="comments">

        <div class="label-single">
          <% @picture.color_rgb_strings.each_with_index do |rgb, i| %><a class="label-single-color" style="background-color: <%= rgb %>; width: <%= @picture.color_scores_100[i] %>%;" ></a><% end %>
        </div>

        <div class="label-single">
          <div class="css-colors-code">
 
          </div>
        </div>


       <div class="label-title">
          Labels <a data-toggle="collapse" data-target="#labels-<% @picture.id %>">TOGGLE</a>
        </div>
        <div id="labels-<% @picture.id %>" class="img-labels collapse">
         
          <% @picture.label_descriptions.each_with_index do |label, i| %>
          <div class="label-single">
           <%= label %>
            <div class="label-score">
              <div class="label-score-percent" style="width:<%= @picture.label_scores[i] %>%"></div>
            </div>
          </div>
          <% end %>

          <% if @picture.joy == "LIKELY" or @picture.joy == "VERY_LIKELY" %>
          <div class="label-single">
            This is a joyous photo.
          </div>
          <% end %>

          <br>Sorrow:<%= @picture.sorrow %>
          <br>Anger:<%= @picture.anger %>
          <br>Surprise:<%= @picture.surprise %>
          <br>Text:<%= @picture.detected_text %>
        </div>

        <% @picture.reviews.each do |review| %>
        <div id="comment-<%= review.id %>" class="single-comment">
          <span class="img-title"><%= time_ago_in_words(review.created_at) %> ago: </span><%= review.comment %>
        </div>
        <% end %>

        <%= render 'reviews/form', review: @review %>

      </div>
    </div>




