<!--- REVIEW FORM -->
<%= form_for(@review, remote: true) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="comment-input">
    <%= f.hidden_field :picture_id, value: @picture.id %>
    <%= f.text_field :comment, class: "form-control", placeholder: "Add a Comment...", "aria-describedby"=> "title-addon" %>
  </div>
<% end %>
